{% extends "base.html" %}
{% block content %}

<div class="background-color">
    <div class="contents-entire">
        <div class="contents-left">
            {% for img  in contents['img'] %}
            <a href="{{ url_for('static', filename='images/contents/'+img) }}" data-lightbox="design-contents" data-title="">
                <img src="{{ url_for('static', filename='images/contents/'+img) }}">
            </a>
            {% endfor %}
        </div>
        <div class="contents-right">
            <h3>{{ contents.title }}</h3>
            <br>
            <h4>作品概要</h4>
            <p>{{ contents.summary }}</p>
            <br>
            <h4>使用スキル, ツール</h4>
            <p>{{ contents.skill }}</p>

        </div>
    </div>
</div>

{% endblock %}
