{% extends "base.html" %}
{% block content %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="contents-entire">
        <div class="contents-left">
            {% for img  in contents['img'] %}
            <img src="{{ url_for('static', filename='images/contents/'+img) }}">
            {% endfor %}
        </div>
        <div class="contents-right">
            <h1>{{ contents.title }}</h1>
            <br>
            <h3>作品概要</h3>
            <p>{{ contents.summary }}</p>
            <h3>使用スキル, ツール</h3>
            <p>{{ contents.skill }}</p>

        </div>
    </div>


{% endblock %}
