<div class="navbar-wrapper">
    <a class="navbar-logo" href="{{ url_for('index') }}">ysd-ktn</a>
    <div class="navbar-list">
        <ul>
            <li class="navbar-item">
                <a class="navbar-link" href="">about</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="">skill</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="">develop</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ url_for('art') }}">art</a>
            </li>
        </ul>
    </div>
</div>