* {
  margin: 0px;
  padding: 0px;
  font-family: "DIN Alternate"; }

/* -------------------- Font-size -------------------- */
/* iPhone */
/* iPad */
/* iPhone X */
/* -------------------- Base -------------------- */
html {
  font-size: 10px;
  font-family: sans-serif;
  overflow: auto; }

body {
  font-size: 1.8rem;
  overflow: auto; }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h1 {
    font-size: 4.0rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 4.0rem; } }
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 4.0rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h2 {
    font-size: 3.2rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h2 {
    font-size: 3.2rem; } }
@media screen and (min-width: 1025px) {
  h2 {
    font-size: 3.2rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h3 {
    font-size: 2.8rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h3 {
    font-size: 2.8rem; } }
@media screen and (min-width: 1025px) {
  h3 {
    font-size: 2.8rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h4 {
    font-size: 2.4rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h4 {
    font-size: 2.4rem; } }
@media screen and (min-width: 1025px) {
  h4 {
    font-size: 2.4rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h5 {
    font-size: 2.0rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h5 {
    font-size: 2.0rem; } }
@media screen and (min-width: 1025px) {
  h5 {
    font-size: 2.0rem; } }

/* -------------------- Color-variables -------------------- */
/* -------------------- navbar -------------------- */
.navbar-wrapper {
  z-index: 30;
  top: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #1c1c1e;
  opacity: 0.9;
  display: flex; }
  .navbar-wrapper .navbar-logo {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    height: 31.94px; }
    .navbar-wrapper .navbar-logo img {
      width: 32px; }
  .navbar-wrapper .navbar-list {
    margin: 0 0 0 auto; }
    .navbar-wrapper .navbar-list .navbar-item {
      margin-right: 140px; }
    .navbar-wrapper .navbar-list ul {
      font-size: 24px; }
  @media screen and (min-width: 561px) {
    .navbar-wrapper ul {
      display: flex;
      list-style-type: none;
      font-size: 20px; }
      .navbar-wrapper ul a {
        line-height: 60px;
        color: #CDCDCD;
        text-decoration: none; }
        .navbar-wrapper ul a:hover {
          color: #FDFDFD; } }

/* -------------------- dividing-line -------------------- */
hr {
  height: 2px;
  width: 70%;
  background-color: #C4C4C4;
  border: 0;
  margin: auto; }

/* -------------------- entry -------------------- */
.entry {
  text-align: center; }
  .entry .thumbnail_index img {
    width: 100%; }

/* -------------------- about -------------------- */
.about {
  margin-top: 70px;
  margin-bottom: 70px;
  display: block; }
  .about .about-contents {
    display: flex;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border: solid 3px #bcbcbc;
    border-radius: 10px; }
    .about .about-contents .profile-icon {
      max-width: 50%;
      margin-right: 100px; }
      .about .about-contents .profile-icon .profile-img {
        width: 18vw;
        border-radius: 100vw;
        display: block; }
        @media screen and (min-width: 0px) and (max-width: 415px) {
          .about .about-contents .profile-icon .profile-img {
            width: 30vw;
            border-radius: 100vw;
            display: block;
            margin-top: 30px;
            margin-bottom: 30px; } }
    .about .about-contents .about-texts {
      height: max-content;
      text-align: left; }
      .about .about-contents .about-texts .sns-icon img {
        width: 32px;
        height: 32px;
        margin-right: 28px; }
      @media screen and (max-width: 560px) {
        .about .about-contents .about-texts .sns-icon {
          margin-top: 30px;
          margin-bottom: 50px; }
          .about .about-contents .about-texts .sns-icon img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            margin-left: 10px; } }

/* -------------------- footer -------------------- */
.footer-border {
  height: 2px;
  width: 100%;
  background-color: #C4C4C4;
  border: 0; }

.footer-wrapper {
  width: 100%;
  height: 60px;
  display: flex; }
  .footer-wrapper .footer-left {
    width: 50%;
    margin-left: 80px;
    display: flex; }
    @media screen and (max-width: 560px) {
      .footer-wrapper .footer-left {
        width: 50%;
        margin-top: 30px;
        padding-left: 20px; } }
    .footer-wrapper .footer-left .footer-logo {
      height: 39.92px;
      display: block;
      margin-top: auto;
      margin-bottom: auto; }
      .footer-wrapper .footer-left .footer-logo img {
        width: 40px; }
    .footer-wrapper .footer-left p {
      line-height: 60px;
      margin-left: 40px;
      font-size: 20px;
      color: #909090; }
  .footer-wrapper .footer-right {
    width: 50%;
    text-align: right;
    margin-right: 80px; }
    .footer-wrapper .footer-right .contact a {
      font-size: 24px;
      text-decoration: none;
      line-height: 60px;
      color: #909090; }
      .footer-wrapper .footer-right .contact a:hover {
        color: #2A3132; }
      @media screen and (max-width: 560px) {
        .footer-wrapper .footer-right .contact a {
          text-decoration: none;
          padding-right: 20px;
          color: #909090; }
          .footer-wrapper .footer-right .contact a:hover {
            color: #2A3132; } }

/* -------------------- art -------------------- */
.article-layer {
  width: 100%;
  text-align: center; }
  .article-layer .thumbnail_art img {
    width: 100%; }
  .article-layer .article-block {
    margin-top: 180px;
    display: inline-block;
    max-width: 1060px;
    text-align: center;
    margin-bottom: 100px; }
    .article-layer .article-block h2 {
      margin-bottom: 60px; }
    .article-layer .article-block .article-table {
      width: 100%;
      overflow: hidden;
      border: solid 3px #bcbcbc;
      border-radius: 10px; }
      .article-layer .article-block .article-table a {
        position: relative;
        margin: 30px;
        display: inline-block;
        background-color: #000; }
        .article-layer .article-block .article-table a img {
          width: 244px;
          height: 244px;
          object-fit: cover;
          vertical-align: bottom; }
          .article-layer .article-block .article-table a img:hover {
            opacity: 0.6; }
        .article-layer .article-block .article-table a .illustration-name {
          background-color: black;
          width: 244px;
          height: 244px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          opacity: 0.0; }
          .article-layer .article-block .article-table a .illustration-name p {
            color: white;
            width: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            opacity: 0.0; }
          .article-layer .article-block .article-table a .illustration-name:hover {
            opacity: 0.6; }
            .article-layer .article-block .article-table a .illustration-name:hover p {
              opacity: 1.0; }

/*# sourceMappingURL=style.css.map */
