* {
  margin: 0px;
  padding: 0px; }

/* -------------------- Font-size -------------------- */
/* iPhone */
/* iPad */
/* iPhone X */
/* -------------------- Base -------------------- */
html {
  font-size: 10px; }

body {
  font-size: 1.8rem; }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h1 {
    font-size: 4.0rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 4.0rem; } }
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 4.0rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h2 {
    font-size: 3.2rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h2 {
    font-size: 3.2rem; } }
@media screen and (min-width: 1025px) {
  h2 {
    font-size: 3.2rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h3 {
    font-size: 2.8rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h3 {
    font-size: 2.8rem; } }
@media screen and (min-width: 1025px) {
  h3 {
    font-size: 2.8rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h4 {
    font-size: 2.4rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h4 {
    font-size: 2.4rem; } }
@media screen and (min-width: 1025px) {
  h4 {
    font-size: 2.4rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h5 {
    font-size: 2.0rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h5 {
    font-size: 2.0rem; } }
@media screen and (min-width: 1025px) {
  h5 {
    font-size: 2.0rem; } }

/* -------------------- Color-variables -------------------- */
/* -------------------- navbar -------------------- */
.navbar-wrapper {
  top: 0;
  position: fixed;
  width: 100%;
  height: 96px;
  background-color: #373737;
  opacity: 0.9;
  display: flex; }
  .navbar-wrapper .navbar-logo {
    font-size: 36px;
    line-height: 96px;
    color: #FDFDFD;
    margin-left: 54px;
    margin-right: 39px;
    text-decoration: none;
    font-weight: 900f; }
  .navbar-wrapper ul {
    display: flex;
    list-style-type: none;
    font-size: 24px; }
    .navbar-wrapper ul a {
      line-height: 96px;
      margin-right: 39px;
      color: #CDCDCD;
      text-decoration: none; }
      .navbar-wrapper ul a:hover {
        color: #FDFDFD; }

/* -------------------- dividing-line -------------------- */
hr {
  height: 2px;
  width: 1400px;
  background-color: #C4C4C4;
  border: 0;
  margin: auto; }

/* -------------------- entry -------------------- */
.entry {
  margin-top: -auto;
  padding-top: 96px;
  text-align: center; }
  .entry h1 {
    margin-top: 75px;
    margin-bottom: 16px; }
  .entry .profile-icon {
    width: 300px;
    height: 300px;
    border-radius: 300px; }
  .entry .sns-icon {
    margin-top: 30px;
    margin-bottom: 85px; }
    .entry .sns-icon img {
      width: 40px;
      height: 40px;
      margin-right: 30px;
      margin-left: 30px; }

/* -------------------- about -------------------- */
.about {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  display: block; }
  .about h2 {
    margin-bottom: 50px; }
  .about .about-content {
    display: inline-block;
    text-align: left; }

/* -------------------- footer -------------------- */
.footer-wrapper {
  height: 90px; }
  .footer-wrapper hr {
    height: 2px;
    width: 1600px;
    background-color: #C4C4C4;
    border: 0;
    margin: auto; }
  .footer-wrapper a {
    text-decoration: none;
    line-height: 90px;
    margin-left: 50px;
    margin-right: 50px;
    color: #909090; }
    .footer-wrapper a:hover {
      color: #2A3132; }
  .footer-wrapper .contact {
    float: right; }

/*# sourceMappingURL=style.css.map */
