{% extends "base.html" %}
{% block content %}

<br><br><br><br>
<h2>
    Sketch
</h2>
<div class="Sketch-img">
    {% for article in articles_list['sketch'] %}
        {{ article.name }}
        <img src="{{ url_for('static', filename='images/articles/'+article.filename) }}" width=100px>
    {% endfor %}
</div>

<h2>
    Illustration
</h2>
<div class="Illustration-img">
    {% for article in articles_list['illustration'] %}
        {{ article.name }}
        <img src="{{ url_for('static', filename='images/articles/'+article.filename) }}" width=100px>
    {% endfor %}
</div>

{% endblock %}