{% extends "base.html" %}
{% block content %}

<br><br><br><br>
<div class="article-layer">
    <div class="article-block">
        <h2>
            Illustration
        </h2>
        <div class="article-table">
            {% for article in articles_list['illustration'] %}
                {{ article.name }}
                <a href="{{ url_for('static', filename='images/articles/'+article.filename) }}" data-lightbox="group"><img src="{{ url_for('static', filename='images/articles/'+article.filename) }}"></a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="article-layer">
    <div class="article-block">
        <h2>
            Sketch
        </h2>
        <div class="article-table">
            {% for article in articles_list['sketch'] %}
                {{ article.name }}
                    <img src="{{ url_for('static', filename='images/articles/'+article.filename) }}">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}