{% extends "base.html" %}
{% block content %}

<div class="thumbnail index">
</div>

<div class="entry">
    <div class="about">
        <h2>ABOUT</h2>
        <div class="about-contents">
            <div class="profile-icon">
                <img class="profile-img" src="{{ url_for('static', filename='images/icon.png') }}">
            </div>
            <div class="about-texts">
                <div class="texts-contents">
                    <h3>YOSHIDA KOTONE</h3>
                    <p>2000.07.04</p>
                    <br>
                    <p>京都市立芸術大学美術学部総合芸術学科</p>
                    <p>座右の銘は「デザインは問題解決だ」です。</p>
                    <div class="sns-icon">
                        <a href="https://twitter.com/ysd_ktn"><img src="{{ url_for('static', filename='images/twitter.png') }}"></a>
                        <a href="https://www.instagram.com/ktn__kk/?hl=ja"><img src="{{ url_for('static', filename='images/instagram.png') }}"></a>
                        <a href="https://github.com/ysd-ktn"><img src="{{ url_for('static', filename='images/github.png') }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skills">
        <h2>SKILLS</h2>
        <div class="skills-table">
            {% for skills in skills_list['skills'] %}
                <div class="skills-contents">
                    <img src="{{ url_for('static', filename='images/skills/'+skills.filename) }}">
                    <div class="skills-name">
                        <p>{{ skills.name }}</p>
                    </div>
                    <div class="star">
                        <img src="{{ url_for('static', filename='images/skills/'+skills.star) }}">
                    </div>
                    <div class="skills-text">
                        <p>{{ skills.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="works">
        <h2>WORKS</h2>
        <div class="works-table">
            <div class="works-contents">
                <div class="works-content" >
                    <a class="works-img" href="{{ url_for('design') }}">
                        <img src="{{ url_for('static', filename='images/works_design_img.jpg') }}">
                    </a>
                    <br>
                    <a class="works-contents-text" href="{{ url_for('design') }}">
                        <h3>design</h3>
                        <p>> view more</p>
                    </a>
                </div>
                <div class="works-content">
                    <a class="works-img" href="{{ url_for('art') }}">
                        <img src="{{ url_for('static', filename='images/works_develop_img.jpg') }}">
                    </a>
                    <br>
                    <a class="works-contents-text" href="{{ url_for('art') }}">
                        <h3>develop</h3>
                        <p>> view more </p>
                    </a>
                </div>
                <div class="works-content">
                    <a class="works-img" href="{{ url_for('art') }}">
                        <img src="{{ url_for('static', filename='images/works_art_img.JPG') }}">
                    </a>
                    <br>
                    <a class="works-contents-text" href="{{ url_for('art') }}">
                        <h3>art</h3>
                        <p>> view more </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}