*{
    margin: 0px;
    padding: 0px;
    font-family: "DIN Alternate";
}
/* -------------------- Font-size -------------------- */
/* iPhone */
$iphone5se-width: 320px;
$iphone678-width: 375px;
$iphone678p-width: 414px;

/* iPad */
$ipad-width: 768px;
$ipadpro-width: 1024px; 

/* iPhone X */
$iphonex-width: 375px;
$iphonex-height: 812px;

/* -------------------- Base -------------------- */
html {
    font-size: 10px;
    font-family: sans-serif;
    overflow: auto;
}

body {
    font-size: 1.8rem;
    overflow: auto;
}

h1 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 4.0rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 4.0rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 4.0rem;
    }
}

h2 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 3.2rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 3.2rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 3.2rem;
    }
}

h3 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.8rem;
    }
}

h4 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.4rem;
    }
}

h5 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.0rem;
    }
}

/* -------------------- Color-variables -------------------- */
$font-color: #707070;
$font-subcolor: #505050;
$main-color: #1c1c1e;
$navbar-text: #FDFDFD;
$dividing-line: #C4C4C4;
$background-color: #efefef;


/* -------------------- navbar -------------------- */
$navbar-height: 60px;
$threshold-width: 560px;
.navbar-wrapper{
    z-index: 30;
    top: 0;
    position: fixed;
    width: 100%;
    height: $navbar-height;   
    background-color: $main-color;
    opacity: 0.9;
    display: flex;
    .navbar-logo{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 100px;
        height: 31.94px;
        img{
            width: 32px;

        }
    }
    .navbar-list{
        margin: 0 0 0 auto;
        .navbar-item{
            margin-right: 140px;
        }
        ul{
            font-size: 24px;
        }
    }
    @media screen and (max-width: $threshold-width) {

    }
    @media screen and (min-width: $threshold-width+1px) {
        ul{
            display: flex;
            list-style-type: none; 
            font-size: 20px;
            a{
                line-height: $navbar-height;
                color: #CDCDCD;
                text-decoration: none;
                &:hover{
                    color: $navbar-text;
                }
            }
        }

    }
}

/* -------------------- dividing-line -------------------- */
hr{
    height: 2px;
    width: 70%;
    background-color: $dividing-line;
    border: 0;
    margin: auto;
}

/* -------------------- entry -------------------- */
.entry{
    text-align: center;
    background-color: $background-color;
    padding-bottom: 200px;
    .thumbnail_index{
        img{
            width: 100%;
        }
    }
    h2{
        margin-bottom: 40px;
        color: $font-subcolor;
    }
}

/* -------------------- about -------------------- */
.about{
    margin-top: 100px;
    margin-bottom: 200px;
    display: block;
    .about-contents{
        display: flex;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        
        .profile-icon{
            max-width: 50%;
            margin-right: 100px;
            .profile-img{
                width: 18vw;
                border-radius: 100vw;
                display: block;
            
                @media screen and (min-width: 0px) and(max-width: $iphone678p-width+1) {
                    width: 30vw;
                    border-radius: 100vw;
                    display: block;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }
        }

        .about-texts{
            height: max-content;
            text-align: left;
            h3{
                color: $font-subcolor;
            }
            p{
                color: $font-color;
            }
            .sns-icon{
                img{
                    width: 32px;
                    height: 32px;
                    margin-right: 28px;
                }
                @media screen and (max-width: $threshold-width) {
                    margin-top: 30px;
                    margin-bottom: 50px;
                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                        margin-left: 10px;
                    } 
                }
            }
        }
    }
}

/* -------------------- skills -------------------- */
$pc_skills_img_width_height: 60px;

.skills{
    margin-bottom: 200px;
    .skills-table{
        max-width: 1060px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        .skills-contents{
            border: solid 1px #bcbcbc;
            border-radius: 15px;
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            min-width: 200px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 10px;
            padding-left: 10px;
            .skills-name{
                color: $font-subcolor;
            }
            .star{
                margin-top: 4px;
                margin-bottom: 4px;
                img{
                    width: 150px;
                    height: 20px;
                }
            }
            .skills-text{
                max-width: 164px;
                margin: 0 auto;
                font-size: 12px;
                color: $font-color;
            }
        }
        img{
            width: $pc_skills_img_width_height;
            height: $pc_skills_img_width_height;
        }
    }
}

/* -------------------- works -------------------- */
$pc_works_img_width_height: 320px;
.works{
    .works-table{
        max-width: 1060px;
        margin: 0 auto;
        
        .works-contents{
            width: fit-content;
            display: flex;
            margin: 0 auto;
            a{
                display: inline-block;
                text-decoration: none;
                img{
                    width: $pc_works_img_width_height;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                h3{
                    margin-top: 20px;
                    color: #707070;
                    &:hover{
                        color:$font-subcolor;
                    }
                }
            }
            .design{
                margin-right: 80px;
                margin-left: 80px;
                margin-top: 80px;
                margin-bottom: 80px;
                .design-img{
                    height: $pc_works_img_width_height;
                    background-color: #000;
                }
            }
            .art{
                margin-right: 80px;
                margin-left: 80px;
                margin-top: 80px;
                margin-bottom: 80px;
                .art-img{
                    height: $pc_works_img_width_height;
                    background-color: #000;
                }
            }
        }
    }
}

/* -------------------- footer -------------------- */
$footer-height: 60px;
.footer-border {
    height: 1px;
    width: 100%;
    border: 0;
}

.footer-wrapper {
    width: 100%;
    height: $footer-height;
    display: flex;
    background-color: $background-color;
    padding-top: 10px;
    padding-bottom: 10px;
    .footer-left {
        width: 50%;
        margin-left: 80px;
        display: flex;
        @media screen and (max-width: $threshold-width) {
            width: 50%;
            margin-top: 30px;
            padding-left: 20px; 
        }
        .footer-logo{
            height: 39.92px;
            display: block;
            margin-top: auto;
            margin-bottom: auto;
            img{
                width: 40px;
            }
        }
        p{
            line-height: $footer-height;
            margin-left: 40px;
            font-size: 20px;
            color: #909090;
        }
    }
    .footer-right {
        width: 50%;
        text-align: right;
        margin-right: 80px;
        .contact{
            a {
                font-size: 24px;
                text-decoration: none;
                line-height: $footer-height;
                color: #909090;
                &:hover{
                    color: $font-color;
               }
              @media screen and (max-width: $threshold-width) {
                text-decoration: none;
                padding-right: 20px;
                color: #909090;
                &:hover{
                    color: $font-color;
               } 
              } 
            }
        } 
    }
}

/* -------------------- art -------------------- */

$pc-article-img-width: 260px;
$pc-article-img-height: 260px;

.article-layer {
    width: 100%;
    text-align: center;
    background-color: $background-color;
    .thumbnail_art{
        img{
            width: 100%;
        }
    }
    .article-block {
        margin-top: 180px;
        h2 {
            margin-bottom: 60px;
            color: $font-subcolor;
        }

        display: inline-block;
        max-width: 1060px;
        text-align: center;
        margin-bottom: 100px;
        .article-table {
            width: 100%;
            overflow: hidden;

            a {
                position: relative;
                margin: 30px;
                display: inline-block;
                background-color: #000;
                
                img {
                    width: $pc-article-img-width;
                    height: $pc-article-img-height;
                    object-fit: cover;
                    vertical-align: bottom;

                    &:hover {
                        opacity: 0.6;
                    }

                }


                .illustration-name {
                    background-color: black;
                    width: $pc-article-img-width;
                    height: $pc-article-img-width;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform : translate(-50%,-50%);
                    -webkit-transform : translate(-50%,-50%);
                    opacity: 0.0;

                    p {
                        color: white;
                        width: 100px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform : translate(-50%,-50%);
                        -webkit-transform : translate(-50%,-50%);
                        opacity: 0.0;
                    }

                    &:hover { 
                        opacity: 0.6;
                        p {
                            opacity: 1.0;
                        }
                     }

                }
                
             
            }

        }
    }
}

/* -------------------- design --------------------*/

.thumbnail_design{
    img{
        width: 100%;
    }
}