*{
    margin: 0px;
    padding: 0px;
}
/* -------------------- Font-size -------------------- */
/* iPhone */
$iphone5se-width: 320px;
$iphone678-width: 375px;
$iphone678p-width: 414px;

/* iPad */
$ipad-width: 768px;
$ipadpro-width: 1024px; 

/* iPhone X */
$iphonex-width: 375px;
$iphonex-height: 812px;

/* -------------------- Base -------------------- */
html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    font-size: 1.8rem;
}

h1 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 4.0rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 4.0rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 4.0rem;
    }
}

h2 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 3.2rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 3.2rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 3.2rem;
    }
}

h3 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.8rem;
    }
}

h4 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.4rem;
    }
}

h5 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.0rem;
    }
}

/* -------------------- Color-variables -------------------- */
$font-color: #2A3132;
$main-color: #373737;
$navbar-text: #FDFDFD;
$dividing-line: #C4C4C4;


/* -------------------- navbar -------------------- */
$navbar-height: 56px;
$threshold-width: 560px;
.navbar-wrapper{
    top: 0;
    position: fixed;
    width: 100%;
    height: $navbar-height;   
    background-color: $main-color;
    opacity: 0.9;
    display: flex;
    @media screen and (max-width: $threshold-width) {
       .navbar-logo{
           width: 100%;
           font-size: 20px;
           line-height: $navbar-height;
           color: $navbar-text;
           text-align: center;
           text-decoration: none;
        } 
       ul{
           display: none;
        }
    }
    @media screen and (min-width: $threshold-width+1px) {
        .navbar-logo{
            font-size: 27px;
            line-height: $navbar-height;
            color: $navbar-text; 
            margin-left: 54px;
            margin-right: 39px;
            text-decoration: none;
            font-weight: 900;
        }
        ul{
            display: flex;
            list-style-type: none; 
            font-size: 20px;
            a{
                line-height: $navbar-height;
                margin-right: 39px;
                color: #CDCDCD;
                text-decoration: none;
                &:hover{
                    color: $navbar-text;
                }
            }
        }

    }
}

/* -------------------- dividing-line -------------------- */
hr{
    height: 2px;
    width: 70%;
    background-color: $dividing-line;
    border: 0;
    margin: auto;
}

/* -------------------- entry -------------------- */
.entry{
    margin-top: $navbar-height;
    padding-top: 5px;
    text-align: center;
    h1{
        margin-top: 75px;
        margin-bottom: 16px;
    }
    .profile-icon{
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        .profile-img{
            width: 18vw;
            border-radius: 100vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
        
            @media screen and (min-width: 0px) and(max-width: $iphone678p-width+1) {
                width: 30vw;
                border-radius: 100vw;
                display: block;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    .sns-icon{
        margin-top: 30px;
        margin-bottom: 85px;
        img{
            width: 40px;
            height: 40px;
            margin-right: 30px;
            margin-left: 30px;
        }
    }
}

/* -------------------- about -------------------- */
.about{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    display: block;
    h2{
        margin-bottom: 50px;
    }
    .about-content{
        display: inline-block;
        text-align: left;
    }
}

/* -------------------- footer -------------------- */
.footer-wrapper{
    height: 90px;
    hr{
        height: 2px;
        width: 90%;
        background-color: $dividing-line;
        border: 0;
        margin: auto;

    }
    a{
        text-decoration: none;
        line-height: 90px;
        margin-left: 50px;
        margin-right: 50px;
        color: #909090;
        &:hover{
            color: $font-color;
        }
    }
    .contact{
        float: right;
    }
}